.invest {
    /* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
/* padding: 0px 72px; */

/* position: relative;/ */
width: 100vw;
height: 8vh;
/* left: 2213px; */
/* top: 876px; */

background: #FFFFFF;
/* background-color: aquamarine; */
box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.06);
}

.invest>.subPart {
    /* FD Bazaar */


    width: 89px;
    height: 21px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 520;
    font-size: 18px;
    line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #121B64;;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}