.thirdPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 72px;
  gap: 89px;

  width: 100vw;
  height: 100vh;

  background: linear-gradient(180deg, #F7F7F7 0%, rgba(255, 255, 255, 0.95) 35.27%);
  /* border-radius: 0px 0px 80px 80px; */

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
}

.frame273 {
  width: 300px;
  height: 300px;
  background: #F4F3F3;
  /* background-color: #32302F; */
  flex: none;
  order: 1;
  flex-grow: 0;
}


.frame273Desc>.head {
  /* Savings */

  width: 100%;
  height: 30%;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  display: flex;
  font-size: 64px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: left;
  color: #121B64;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: right;
  justify-content: flex-start;
}



.frame273Desc>.container {

  width: 100%;
  height: 50%;

  /* Paragraph_28px */

  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: left;

  /* Black */

  color: #32302F;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.saveNow {
  height: 22%;
  width: 19%;
  margin-top: 1vh;
  /* background-color: #F4F3F3; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveNow div {
  /* Explore FDs */

  width: 100%;
  height: 100%;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 80%;
  line-height: 21px;
  /* text-align: center; */
  color: #121B64;
  border: 1px solid black;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}


@media screen and (max-width: 900px) {

  
.frame273 {
  width: 200px;
    height: 200px;
  background: #F4F3F3;
  margin-left: -12%;
  /* background-color: #32302F; */
  flex: none;
  order: 1;
  flex-grow: 0;
}


.frame273Desc>.head {
  /* Savings */

  width: 100%;
  height: 30%;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  display: flex;
  font-size: 64px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: left;
  color: #121B64;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: right;
  justify-content: flex-start;
}



.frame273Desc>.container {

  width: 100%;
  height: 50%;

  /* Paragraph_28px */

  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: left;

  /* Black */

  color: #32302F;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.saveNow {
  height: 60%;
  width: 42%;
  margin-top: 1vh;
  /* background-color: #F4F3F3; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveNow div {
  /* Explore FDs */

  width: 100%;
  height: 100%;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Futura PT';
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  /* text-align: center; */
  color: #121B64;
  border: 1px solid black;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

@media screen and (max-width:430px) {
  .thirdPage {
    /* Hero */
    
    
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: centre;
    padding: 48px 24px;
    gap: 24px;
    
    width: 375px;
    height: 652px;
    
  background: linear-gradient(180deg, #F7F7F7 0%, rgba(255, 255, 255, 0.95) 35.27%);
    border-radius: 0px 0px 48px 48px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    flex-grow: 0;
    }
    
    .frame273 {
     /* Frame 289 */
    
    
    width: 327px;
    height: 327px;
    
    background: #F4F3F3;
    margin-left: 10px;
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    /* 
    .frame289Desc {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 48px 24px;
    gap: 24px;
    
    width: 375px;
    height: 652px;
    
    background: linear-gradient(180deg, #F6F6F6 0%, #F5FAE7 100%);
    border-radius: 0px 0px 48px 48px;
    
    /* Inside auto layout */
    /*
    flex: none;
    order: 3;
    flex-grow: 0;
    } */
    
    .frame273Desc>.head {
      /* FD Bazaar */
      width: 327px;
      height: 41px;
      
      /* Heading_32px */
      
      font-family: 'Futura PT';
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 41px;
      /* identical to box height */
      
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      
      /* Brand/Blue */
      
      color: #121B64;
      
      
      /* Inside auto layout */
      
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
    }
    
    
    
    .frame273Desc>.container {
      width: 327px;
      height: 63px;
      
      /* Paragraph_16px */
      
      font-family: 'Futura PT';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      
      /* Black */
      
      color: #32302F;
      
      
      /* Inside auto layout */
      
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
    }
    
    .saveNow {
      /* height: 40px;
      width: 100px;
    background-color: #F4F3F3;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* display: flex; */
    } 
    
    .saveNow div {
     /* Explore FDs */
    
    
    width: 81px;
    height: 40px;
    
    /* Heading_16px */
    
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin-left: 160px;
    text-align: center;
    
    /* Brand/Blue */
    
    color: #121B64;
    border: 1px solid black;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    
}


}