.meetTheTeam {
    position: relative;
    line-height: 120%;
  }
  .discoverThePassion {
    position: relative;
    font-size: 28px;
    color: #32302f;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
  }
  .frameWrapper,
  .meetTheTeamParent {
    display: flex;
    justify-content: flex-start;
  }
  .meetTheTeamParent {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .frameWrapper {
    width: 246px;
    height: 360px;
    flex-shrink: 0;
    flex-direction: row;
    align-items: flex-start;
  }
  .quotationIcon,
  .quotationIcon1 {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 60px;
    height: 60px;
    overflow: hidden;
  }
  .quotationIcon1 {
    top: 250px;
    left: 938px;
  }
  .ourVisionIs {
    position: absolute;
    top: 139px;
    left: calc(50% - 385px);
    display: flex;
    align-items: center;
    width: 771px;
  }
  .quotationParent {
    flex: 1;
    position: relative;
    border-top: 1px solid  #bebebe;
    border-right: 1px solid  #bebebe;
    border-bottom: 1px solid  #bebebe;
    box-sizing: border-box;
    height: 360px;
    text-align: left;
    font-size: 32px;
    color: #686868;
  }
  .frameContainer,
  .frameDiv {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frameDiv {
    height: 360px;
    flex-shrink: 0;
    gap: 16px;
  }
  .frameGroup,
  .frameParent,
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .frameGroup {
    width: 1294px;
    align-items: flex-start;
    gap: 32px;
    font-size: 16px;
    color: #000;
  }
  .frameParent,
  .hero {
    align-items: center;
  }
  .frameParent {
    gap: 80px;
  }
  .hero {
    border-radius: 0 0 80px 80px;
    background: linear-gradient(
      180deg,
      #f6f6f6,
      rgba(255, 255, 255, 0.98) 14.35%
    );
    overflow: hidden;
    padding: 80px 0px;
    text-align: center;
    font-size: 64px;
    color: #121b64;
    font-family: 20px;
    width: 80vw ;
  }
  